<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Select Your Spa Services</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<form method = 'post'>
    <h2>User Data</h2>
    <label for="username">Username:
        <input type="text"  name="username" id="username">
    </label>
    <label for="password">Password:
        <input type="password" name="password" id="password">
    </label>
    <label for="email">Email:
        <input type="email" name="email" id="email">
    </label>

    <div hidden id="errorSection">
    <label for="error">
        <h3 id="error">Passwords must match! Please try again!</h3>
    </label>
    <label for="thisUsername">Username:
        <input type="text"  name="thisUsername" id="thisUsername">
    </label>

    <label for="thisEmail">Email:
        <input type="email" name="thisEmail" id="thisEmail">
    </label>
    </div>


</form>
</body>
</html>